
li menu
element.style {
    background-color: darkblue;
    color: white;
    font-weight: bold;
    padding-left: 5px;
    height: 45px;
    padding-top: -10px;
    vertical-align: middle;
    border-bottom: 2px solid white;
}